body, html {
    margin: 0;
}

.container {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    width: 100%;
    height: 100%;
    position: relative;
}

.horizontal-cross {
    position: absolute;
    width: 56.25px;
    height: 187.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.vertical-cross {
    position: relative;
    height: 56.25px;
    width: 187.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}