body, html {
    margin: 0;
}

.container {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    height: 300px;
    width: 500px;
    margin: 20px;
}

.flag-stripe {
    width: inherit;
    height: 100px;
}

.black-stripe {
    background-color: black;
}

.red-stripe {
    background-color: red;
}

.yellow-stripe {
    background-color: yellow;
}