body, html {
    margin: 0;
    background-color: black;
}

.container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: white;
}

.red-circle {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}