:root {
    --card-height: 600px;
    --card-width: 400px;
    --card-padding: 30px;
}

html, body {
    margin: 0;
}

.container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding);
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.image {
    /* width: calc(var(--card-width) - (2 * var(--card-padding))); */
    /* height: calc(var(--card-width) - (2 * var(--card-padding))); */
    /* border-radius: calc((var(--card-width) - (2 * var(--card-padding))) / 2); */
    /* width: 340px;
    height: 340px; */
    border-radius: calc(var(--card-width) / 2);
    align-self: center;
}

.profile-image{
    width: 100%;
    height: var(--card-width);
    display: flex;
    justify-content: center;
    align-items: center;
}